body {
    background-color: dimgray;
    max-width: 900px;
    margin: auto;
    padding-top:40px;
}

.button-grid {
    display:flex;
    flex-direction:row;
}

.column {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.note {
    height:50px;
    width:50px;
    margin: 2px;
    border: 2px solid #ccc;
}
.pressed {
    background-color: aqua;
}

.unpressed {
    background-color:white;
}

.column {
    background-color: white;
}
.cur-col {
    background-color: lightseagreen;
}

.settings-div {
    background-color:white;
    flex-direction:row;
}
.synth-info {
    height: 200px;
    width: 250px;
    background-color: hotpink;
    float:left;
    display:flex;

}

#scale-settings {
    float:left;
    height: 200px;
    width: 200px;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

#playback-settings{
    float:left;
    height: 200px;
    width: 300px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

#play-div {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 115px;
}

#play-btn {
    height:200px;
    padding-left: 10px;
    border: 2px black
}

.stopped {
    background-color:indianred;
}

.playing{
    background-color:mediumseagreen;
}